
%table
  %h1 Recent Submissions
  %tr
    %td Spreadsheet
    %td Date Submitted
    %td User
  %tr
    %td Round 3
    %td 10/19/2020
    %td Mary Jane
  %tr
    %td Round 2
    %td 10/05/2020
    %td Joe Smith
  %tr
    %td Round 3
    %td 9/25/2020
    %td Sarah Johnson
