%h1 Listing applications

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @applications.each do |application|
      %tr
        %td= link_to 'Show', application
        %td= link_to 'Edit', edit_application_path(application)
        %td= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Application', new_application_path
