table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 1em;
}

#query-options {
  width: 25%;
  margin-right: 5em;
}

#query-options * {
  margin-top: 2rem;
}

#query-table {
  width: 65%;
}

#query-options, #query-table {
  display: inline-block;
  margin-top: 2rem;
  vertical-align: top;
}

.browse-table {
  text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

#file-upload{
	margin-top: 2rem;
	width: 25%;
	margin: auto;
}

#file-select{
	float: left;
}

#browse{
	float: right;
}

#submit{
	float: center;
}