.form-group
  = f.label :password
  = f.password_field :password, class: 'form-control'
  %small{class: 'form-text text-muted'} (6 characters minimum)
.form-group
  = f.label :password_confirmation
  = f.password_field :password_confirmation, class: 'form-control'
