/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 5rem;
  margin-bottom: 60px;
}

main {
  margin-bottom: 5rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 61px;
  line-height: 60px;
  border-top: 1px solid $gray-400;
  background-color: #F0F0F0;
  nav {
    display: inline;
    ul {
      float: right;
      list-style: none;
      li {
        height: 1rem;
        float: left;
        margin-left: 15px;
      }
    }
    a {
      color: $gray-400;
      &:hover {
        color: $gray-400;
      }
    }
  }
}

#error_explanation {
  @extend .alert;
  @extend .alert-warning;
  h2 {
    text-align: left;
    font-weight: bold;
    font-size: 1em;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.field_with_errors .form-control {
  @extend .is-invalid;
}

.form-container {
  width: 50%;
  margin-top: 2rem;
  input[type="submit"] {
    margin-top: 1rem;
    width: auto;
  }
}

/* Authentication */

body.sessions.new, body.registrations.new, body.registrations.create {
  background-color: #f5f5f5;
}

.container-auth {
  margin-top: 5rem;
}

.form-auth {
  width: 100%;
  max-width: 430px;
  padding: 15px;
  margin: auto;
  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
  }
  .form-control:focus {
    z-index: 2;
  }
  input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .g-recaptcha {
    display: inline-block;
  }
}

.form-signin {
  max-width: 330px;
}
