/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 5rem;
  margin-bottom: 60px;
}

main {
  margin-bottom: 5rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 61px;
  line-height: 60px;
  border-top: 1px solid $gray-400;
  background-color: #F0F0F0;
  nav {
    display: inline;
    ul {
      float: right;
      list-style: none;
      li {
        height: 1rem;
        float: left;
        margin-left: 15px;
      }
    }
    a {
      color: $gray-400;
      &:hover {
        color: $gray-400;
      }
    }
  }
}

#error_explanation {
  @extend .alert;
  @extend .alert-warning;
  h2 {
    text-align: left;
    font-weight: bold;
    font-size: 1em;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.field_with_errors .form-control {
  @extend .is-invalid;
}

.form-container {
  width: 50%;
  margin-top: 2rem;
  input[type="submit"] {
    margin-top: 1rem;
    width: auto;
  }
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 1.5em;
}

#query-options {
  width: 30%;
  margin-right: 3em;
  overflow-y: scroll;
}

#query-options * {
  margin-top: 2rem;
}

#query-table {
  width: 50%;
  overflow: scroll;
  margin-right: 3em;
}

#query-results {
  width: 10%;
  text-align: left;
}

#query-options, #query-table, #query-results {
  display: inline-block;
  margin-top: 2rem;
  vertical-align: top;
  height: 30rem;
}

.query-result-header {
  display: block;
  font-size: 1rem;
  padding: 2rem;
}

.demo-header {
  margin-bottom: 0rem;
}

.demo-options {
  margin-top: 1rem;
}

#query-submit {
  margin-top: 3rem;
}

/* Authentication */

body.sessions.new, body.registrations.new, body.registrations.create {
  background-color: #f5f5f5;
}

.container-auth {
  margin-top: 5rem;
}

.form-auth {
  width: 100%;
  max-width: 430px;
  padding: 15px;
  margin: auto;
  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
  }
  .form-control:focus {
    z-index: 2;
  }
  input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .g-recaptcha {
    display: inline-block;
  }
}

.form-signin {
  max-width: 330px;
}

#popupWindow {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#popupContent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
#close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
