%h1 Listing uploads

%table
  %thead
    %tr
      %th Title
      %th Round

  %tbody
    - @uploads.each do |upload|
      %tr
        %td= upload.title
        %td= upload.round
        -# %td= link_to 'Show', upload
        -# %td= link_to 'Edit', edit_upload_path(upload)
        %td= link_to 'Delete', upload, method: :delete, :class => 'delete-button', data: { confirm: 'Are you sure? This will delete all applications from this upload.' }

%br

= link_to 'New Upload', new_upload_path, {:class => 'nav-button'}
